.position-text{
    position: relative !important;
    z-index: 100;
    text-decoration: none !important;
}

#carouselExampleControls {
    margin-left: 100px;
    margin-right: 100px;
}

.carousel-control-prev {
  margin-left: -110px;
}

.carousel-control-next {
  margin-right: -110px;
}

.project-title {
    text-decoration: none;
    color: #333;
}

a,
a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
}

.read-more {
    color: #333;
}