{% extends "base.html" %}
{#
    Get the content for a project based on the passed ID 
    @param id
#}
{% block title %}Add a BOM Item | Tristan's Workshop{% endblock %}
{% block auxcss %}
{% endblock %}
{% block content %}
<nav class="navbar navbar-light bg-grey-900">
    <div class="container">
        <span class="navbar-brand mb-0 h1"></span>
    </div>
</nav>
<!-- Cover Image Background with center title -->
<div class="container">
    <div class="row">
        <div class="col-12">
            {% if msg and not msg == "": %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="bi flex-shrink-0 me-2 bi-check-circle-fill" width="24" height="24" role="img" aria-label="Success:"></i>
                {{msg}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <!-- Project Group Header -->
        <div class="col-8">
            <h3>Add BOM Item</h3>
            <form method="POST">
                <div class="mb-3">
                    <label for="name" class="form-label">Item Name</label>
                    <input type="text" class="form-control" id="name" name="name" aria-describedby="name" required>
                </div>
                <div class="mb-3">
                    <label for="unit_price" class="form-label">Unit Price</label>
                    <input type="number" class="form-control" id="unit_price" name="unit_price" aria-describedby="unit_price" step=".01" required>
                </div>
                <div class="mb-3">
                    <label for="quantity" class="form-label">Quantity</label>
                    <input type="number" class="form-control" id="quantity" name="quantity" aria-describedby="quantity" required>
                </div>
                <div class="mb-3">
                    <label for="project_id" class="form-label">Applicable Project</label>
                    <select class="form-select" name="project_id" aria-label="project_id">
                        {% for project in projects %}
                        <option value="{{project._id}}">{{project.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" name="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-4">
            
        </div>
    </div>
    <div class="row">
        
    </div>
</div> 
{% endblock %}