{% extends "base.html" %}
{#
    Get the content for a project based on the passed ID 
    @param id
#}
{% block title %}Admin Login | Tristan's Workshop{% endblock %}
{% block auxcss %}
{% endblock %}
{% block content %}
<nav class="navbar navbar-light bg-grey-900">
    <div class="container">
        <span class="navbar-brand mb-0 h1"></span>
    </div>
</nav>
<!-- Cover Image Background with center title -->
<div class="container">
    <div class="row">
        <div class="col-12">
            {% if not msg == "": %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="bi flex-shrink-0 me-2 bi-exclamation-triangle-fill" width="24" height="24" role="img" aria-label="Danger:"></i>
                {{msg}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
        </div>
        <!-- Project Group Header -->
        <div class="col-4">
            <h1>Admin Login</h1>
            <form method="POST">
                <div class="mb-3">
                  <label for="email" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email">
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control" id="password" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
        <div class="col-4">
        </div>
        <div class="col-4">
            
        </div>
    </div>
    <div class="row">
        
    </div>
</div> 
{% endblock %}